@font-face {
  font-family: Karla;
  src: url('./fonts/Karla-VariableFont_wght.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Karla;
}

body{
  background-color: hsl(148, 38%, 91%);
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  justify-content: center;
  height: 100vh;
}

